
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Knewave&family=Rubik+Puddles&family=Shizuru&display=swap');

body{
    background:rgb(217, 228, 168);
}
.main{ 
    width:400px;
margin:0 auto;
padding: 100px;
 background:rgb(218, 204, 224);
 border-radius: 30%;
}
img{
    width:100%;
    
}
h1{
    color:rgb(76, 143, 128);
  font-family: "Rubik Puddles", system-ui;
  font-weight: 1000;
  font-style: normal;
}
.result{
    color:rgb(76, 143, 128);
   font-size: larger;
  font-family: "Knewave", system-ui;
  font-weight: 50;
  font-style: normal;


}
.clear{
background:rgb(184, 236, 225);
border-radius: 30%;
width:70px;
height:50px;
}
.equals{

background:rgb(184, 236, 225);
width:70px;
height:50px;
border-radius: 30%;

}
.input{
   
    border-radius: 30%;
    width:100px;
height:50px;
font-size: 20px;

}
 .in2{
 display:flex;
      justify-content: space-between;


 }
 .in{
 display:flex;
     flex-direction:row-reverse;


 }
.fi{   
    display:flex;
           justify-content: space-between;
  position: absolute;
    flex-direction:row-reverse;

}
.fire{
    position: absolute;

}.fire2{

       position: absolute;


}